@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');
body {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  content: center;
  -webkit-overflow-scrolling: touch;
}

* {
	box-sizing: border-box;
}
:root {
  --color-bg: #ffffff;
  --color-darkbg: #091a30;
  --color-greybg: #f0f1f5;
  --color-darkblue: #153297;
  --color-whitetext: rgb(255, 255, 255);
  --color-textcolor: rgb(61, 61, 61);
  --color-projectitle: #040404;


  --color-menutext: rgb(255, 255, 255);
  --color-modalsubheading: rgb(2, 0, 31);
  --color-tabsbg: #ffffff;
  --color-tabslabel: #428bff;
  --color-mainjobtitle: black;
  --color-bottomlinkedin: #0077B5;
  --color-bottomgithub: black;
}
body {
  background-color: var(--color-bg);
  color: var(--color-textcolor);
  transition: background 0.2s linear;
}


/* <--                                Start of Dark Section                                    --> */ 

#dark-section {
  background-color: #091a30;
}
/* Navigation Bar */
.navbar {
  width: 100%;
}
.navbar-nav {
  margin-left: 30%;
  font-size: 16px;
}
.navbar-nav > li{
  margin-left:35px;
  margin-right:35px;
}
.nav-link {
  font-weight: 500;
  color: var(--color-menutext);
  font-family: 'Nunito Sans', sans-serif;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(165, 165, 165)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* Cusom Toggler */
.custom-toggler.navbar-toggler {
  border-color: rgb(255, 255, 255);
  border-radius: 50px;
  background-color: rgb(235, 235, 235);
}

/* Modal for navbar collapse */
.modal-nav-content {
  width: 100%;
  height: auto;
}
.modal {
  background-color: var(--color-bg);
}
.modal-nav-body {
  margin-top: 100px; 
}
.modallink  {
  color: #2e3192;
}
.modal-nav-body ul {
  list-style-type: none;
  color: black;
  margin: 25;
  padding: 25;
  width: 100%;
}
.modal-nav-body ul li {
  padding: 8px;
}
#nav-heading-title {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #8f8f8f;
  font-family: 'Nunito Sans', sans-serif;
}
#nav-sublist {
  margin-left: 25px;
}
#nav-subheading-title {
  font-size: 16px;
  color: var(--color-modalsubheading);
  font-weight: 500;
}

/* <-- Body --> */ 
/* Name + Title */
.profileimage {
  margin-top: 20%;
}
.col-sm-8 {
  text-align: left;
}
#nameintro {
  margin-top: 15%;
  font-size: 40px; 
  letter-spacing: 1px;
  color: var(--color-whitetext);
  font-family: 'Roboto', sans-serif;
}
.underline {
  text-decoration: underline;
  text-decoration-thickness: 5px;
  -webkit-text-decoration-color: var(--color-darkblue); /* Safari */   
  text-decoration-color:  var(--color-darkblue);
}
#jobtitle {
  font-size: 20px;
  color: var(--color-whitetext);
  letter-spacing: 0.5px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
}


/* Social links */
.firstsocial {
  padding-right:25px; 
  padding-left:10%;
}
.fa-linkedin-in {
  font-size: 22px;
}
.fa-github {
  font-size: 28px;
}
.fa-envelope {
  font-size: 21px;
}
#dark-section {
  padding-bottom: 150px;
}
/* <--                                End of Dark Section                                    --> */ 

/* Line break + Card section */
#line-break {
  width: 100%;
  background-color: var(--color-darkblue);
}
#line-break-after {
  background-color: var(--color-darkblue);
  padding-bottom: 13px;
  margin-right: 50%;
  margin-left: 50%;
}
#line-break-section {
  background-color: var(--color-darkblue);
  padding-bottom: 10px;
  margin-right: 50%;
  margin-left: 50%;
}
#main-card {
  margin-top: -125px;
  padding: 25px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.btn-primary {
  background-color: var(--color-darkblue);
  border: none;
  border-radius: 25px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 15px;
}
#blue-button {
  text-decoration: none;
  color: var(--color-whitetext);
}


/*  Areas of Interest */
#interest-icon {
  max-width: 40px;
  width: auto;
  margin-top:60px;
}
#interest-title {
  font-size: 18px;
  margin-top: 40px;
  font-weight: 600;
  letter-spacing: 0.2px;
}
#interest-text {
  margin-top: 25px;
  color:var(--color-textcolor);
}


/* Projects */
#projects {
  background-color: var(--color-greybg);
}
#projects-title {
  color: var(--color-projectitle);
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 42.5%;
}
#projects-card {
  max-width: 300px;
  width: auto;
  height: 390px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}
#projects-category {
  letter-spacing: 2.5px;
  font-size: 12px;
  font-weight: bold;
}
#projects-subtitle {
  margin-top: 25px;
}
#projects-description {
  margin-top: 25px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  height: 160px;
  color:rgb(141, 141, 141);
}
#projects-read-more {
  color: var(--color-darkblue);
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.2px;
  margin-top: 25px;
}



/* Content below projects */
.col-12 h3 {
  margin-top: 10px;
  font-weight: 400;
  font-size: 30px;
  text-align: left;
  font-family: 'Nunito Sans', sans-serif;
}
#maintitle{
  margin-top: 75px;
}
#wordlinks {
  padding-bottom: 8px;
  color: var(--color-textcolor);
  text-align: center;
  font-size: 20px;
  text-decoration: none;
  background: linear-gradient(to bottom, var(--mainColor) 0%, var(--mainColor) 100%);
  background-position: 100%;
  background-repeat: repeat-x;
  background-size: 3px 3px;
}
#wordlinks:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23ff9800' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0 100%;
  background-size: auto 5px;
  background-repeat: repeat-x;
  text-decoration: none;
}
#mainjobtitle {
  color: var(--color-mainjobtitle);
}

/* Pre-education area */
#diagonal-before {
  background-color: #00d4ff;
  color: #7b8d9f;
  padding-bottom: 2%;
  margin-right: 0px;
  transform: skewY(-3deg);
}

 /* Education */
#education {
  background-color: #092540;
  color: #7b8d9f;
  padding-bottom: 40px;
  transform: skewY(-3deg);
}
#educationline {
    background-color: #7b8d9f;
}
#educationtitle {
  color: #00d4ff; 
  padding-top: 20px;
}
.diagonal-box {
    background-color: #0e205f;
} 
#tilt { 	
  transform: skewY(3deg);
}

/* Post-education area */
#diagonal-after {
  background-color: #00179c;
  color: #7b8d9f;
  padding-top: 2%;
  margin-left: 0px;
  transform: skewY(-3deg);
  overflow: hidden;
}

/* Contact Us section */
#contact {
    text-align: center;
}
#bottomlinkedin {
  color: var(--color-bottomlinkedin);
  margin-right:10px;
}
#bottomgithub{
  color: var(--color-bottomgithub);
  margin-left: 10px;
}

/* <---------- Media Screens ----------> */
/* For all non-projects tab content */
@media only screen and (max-width: 600px) {
    #nameintro {
        font-size: 30px; 
    }
    .col-sm-8 {
        text-align: center;
    }
    .firstsocial {
        padding-left:0%;
    }
    .profileimage {
        margin-top: 5%;
        width: 55%;
    }
    .col-12 h3 {
      font-size: 24px;
    }
    #maintitle{
      margin-top:65px;
      text-align: center;
      font-size: 35px;
      font-weight: 300;
    }
    #educationtitle {
      text-align: center;
    }
    #diagonal-after {
      display: none;
    }
    #projectlinks {
      margin-top: 10%;
      text-align: center; 
    }
    #darkmodebutton {
      margin-left: 10px;
    }
  }