@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');
body {
  /* font-family: 'Roboto', sans-serif; */
  font-family: arial;
  width: 100%;
  content: center;
  -webkit-overflow-scrolling: touch;
  color:rgb(74, 98, 125);
  background-color: rgb(229, 237, 249);
}

/* Top name area */
#name-top {
  font-size: 20px;
  font-weight:bold;
}

/* Main text area */
#main-text {
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#main-title {
  font-size: 70px;
}
#main-subtitle {
  font-size: 17px;
  letter-spacing: 0.25px;
  width: 600px;
}

/* Social media links */
#social-links {
  text-align: center;
  position: absolute;
  bottom: 4%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.fa-linkedin-in {
  font-size: 25px;
  color:rgb(74, 98, 125);
}
.fa-github {
  font-size: 28px;
  color:rgb(74, 98, 125);
  padding-left: 25px;
}
.fa-envelope {
  font-size: 23px;
  color:rgb(74, 98, 125);
  padding-left: 25px;
}


/* <---------- Media Screens ----------> */
/* For all non-projects tab content */
@media only screen and (max-width: 600px) {
  #main-subtitle {
    width: 390px;
  }
}